body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
    table-layout: fixed;
    page-break-inside: avoid;
    
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

table th {
    background-color: #f2f2f2;
    background: rgba(76, 175, 80, 0.7);
    backdrop-filter: blur(10px);
}

@page {
    size: A4;
    margin: 20mm;
}

div.page-break {
    page-break-before: always;
}

code{
    white-space: pre-wrap;
}
